<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.project.cmput301f16t14.beep" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="SignUp" >
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".DriverMainActivity"
            android:label="DriverSearch" >
        </activity>
        <activity
            android:name=".ViewEstimateActivity"
            android:label="EstimateFare" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="EditProfile" >
        </activity>
    </application>

</manifest>
